/*
Custom Css
*/
@media (max-width: 575px){
    #template-mo-zay-hero-carousel .carousel-control-prev i, #template-mo-zay-hero-carousel .carousel-control-next i {
        font-size: 1.2em !important;
    }
    .carousel-indicators li{width: 15px !important;}
}

@media (min-width: 576px){
    .container, .container-sm {
        max-width: 746px!important;
    }
    #template-mo-zay-hero-carousel .carousel-control-prev i, #template-mo-zay-hero-carousel .carousel-control-next i {
        font-size: 1.8em !important;
    }
    .carousel-indicators li{width: 20px !important;}
}
@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px!important;
    }
    #template-mo-zay-hero-carousel .carousel-control-prev i, #template-mo-zay-hero-carousel .carousel-control-next i {
        font-size: 2em !important;
    }
    .carousel-indicators li{width: 30px !important;}
}

/*====== home slide ==========*/
.carousel-indicators {margin-bottom: 0rem  !important;}
.carousel-indicators li{margin-top: inherit !important;}


/*====== normal ==========*/
#templatemo_main_nav a:hover { color:#00d6d6;}
.active-menu { color: #18b7de  !important;font-weight: 900 !important;}
.btn-success {
    background-color: #00b2b5 !important;
    border-color: #00b2b5 !important;
}
.btn-success:hover {
    background-color: #00d6d6 !important;
    border-color: #00d6d6 !important;
}
/*
.btn-success:active
{
    background:#00b2b5!important;
}
*/

.btn.btn-success:focus, .btn.btn-success.focus {
    box-shadow: 0 0 0 0.2rem #28dadaab!important;
    background-color: #00b2b5 !important;
    border-color: #00b2b5 !important;
  }



.bg-success {
    background-color: #3e9bc7 !important;
}

.text-success {
    color: #3e9bc7 !important;
}
.services-icon-wap:hover {background: #3e9bc7;}


.form-control:focus {
    border: 1px solid #fb48004d !important;
    box-shadow: 0px 0px 3px #ff470024 !important;
}
.input-valid {
    border: 1px solid #fb48004d !important;
    box-shadow: 0px 0px 3px #ff470024 !important;
}
.installment-display{display:none;}

.content-padding-bottom {
    padding-bottom: 20rem!important;
}

.card {
    border: 1px solid rgb(142 142 142 / 13%)!important;
}
